<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<!--icons 样式库-->
<link rel="stylesheet" href="dist/static/theme/shared/icons/iconfont.css" charset="utf-8" />
<link rel="stylesheet" href="dist/static/theme/shared/element-ui/index.css" charset="utf-8" />
<link rel="stylesheet" href="dist/static/theme/shared/plus/mavon-editor/css/index.css" charset="utf-8" />
<link rel="stylesheet" href="dist/static/theme/default/index.css" charset="utf-8" />
</head>
<body>
<div id="app"></div>
<script src="src/renderer-process/bridge.js"></script>
<script src="dist/vendors.js"></script>
<script src="dist/build.js"></script>
</body>
</html>
